[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cookiecutter = "1.6.0"
flake8 = "3.5.0"
pytest = "3.3.2"
pytest-cookies = "0.3.0"

[requires]
python_version = "3.8"
