[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-apispec = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
apispec = "*"
webargs = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
gunicorn = "*"
celery = "*"
redis = "*"
gitpython = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
